body {
  font-family: "Nunito", sans-serif;
  background-color: #f5f4f4;
  color: #020101;
  cursor: none;
}
nav {
  background-color: #1A1A1A;
}

button:hover, .btn:hover {
  cursor: none;
}
/* Hero Section */

#Hero-Section {
  background-image: url("../img/bg-hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;  /* opcional: efecto scroll */
  background-size: 50%;
  background-position: left 20%;
  background-color: #020101; /* O el color que quieras de fondo */
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#Mis-trabajos {
  background-color: #1A1A1A;
}

.card {
  border-radius: 1rem;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4); /* Sombra más pro */
}


/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

footer {
  background-color: #1A1A1A;
}

footer img {
  transition: all 0.3s ease;  /* Transición suave */
}

footer img:hover {
  transform: translateY(-4px) scale(1.2); /* Sube un poquito y crece */
  filter: brightness(1.5); /* Ilumina */
  cursor: pointer;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

  #Hero-Section {
    background-size: 80%;
    background-position: center;
  }

}
/* ===== Custom Cursor ===== */
#cursor, #cursor-follower {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.3s ease, height 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
  z-index: 10000;
}
#cursor {
  width: 8px;
  height: 8px;
  background-color: white;
  mix-blend-mode: difference; /* <-- NUEVO: hace que invierta el color que toca */
}
#cursor-follower {
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.15);
  mix-blend-mode: difference; /* <-- opcional, para que el aura también invierta colores */
}
.hover-effect #cursor {
  width: 24px;
  height: 24px;
  background-color: rgba(255, 255, 255, 0.3); /* o incluso 0.1 */
}
.hover-effect #cursor-follower {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.2);
}
a, button {
  cursor: none;
}
input, textarea, select {
  cursor: none;
}